h3 {
    background: #5f9ea0;
}
.slick-container {
    width: 80%;
    margin: 0 auto;
}
.slick-prev {
    &:before {
        color: black;
    }
}
.slick-next {
    &:before {
        color: black;
    }
}